header, #logo {
  display: flex;
  width: 100%;
  min-width: 200px;
  height: 100px;
  align-items: center;
  flex-grow: 2;
  flex-shrink: 3;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

header {
  border-bottom-style: solid;
  border-bottom: 3;
}

#logo{
  align-items: center;
  justify-content: flex-start;
  margin-left: 30px;
}

.nav {
  margin-left: 30px;
}

.headnav {
  align-items: center;
  justify-content: flex-end;
  flex-flow: nowrap;
  min-width: 350px;
  margin-right: 30px;
}

.boldtext {
  font-weight: bold;
}

main {
  display: flex;
  width: 100%;
  min-width: 200px;
  width: 630px;
  height: 90%;
  margin-top: 30px;
  align-items: center;
  border: 5px dotted red;
}

#phish, #monument, #earth, #breakfast, #research, #orca, .boldtext {
  border: 5px dotted hsl(160, 51%, 60%);
}
/* sizes for columns below COMMENT ONLY DO NOT USE CODE BELOW

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
*/
