header, #logo {
  display: flex;
  z-index: 1;
  width: 100%;
  min-width: 200px;
  height: 100px;
  flex-grow: 2;
  flex-shrink: 3;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
header {
  position: fixed;
  border-bottom-style: solid;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px;
  top: 0;
  -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
  background-color: white;
}
#logo{
  align-items: center;
  justify-content: flex-start;
  padding: 30px;
}
.headnav {
    display: flex;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 30px;
  z-index: 1;
}
.boldtext {
  font-weight: bold;
  align-items: flex-start;
  justify-content: flex-start;
}
/* Main Container */
main {
  display: flex;
  min-width: 200px;
  width: 100%;
  padding-top: 150px;
  margin: 0px auto 80px auto;
  justify-content: center;
  position: relative;
}
.columnsmall, .columnmed {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.images {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 100%;
  height: 300px;
  padding: 10px;
  flex-shrink: 3;
}
.story{
  display: flex;
  flex-wrap: wrap;
  padding-left: 5px;
  flex-shrink: 3;
}
#cats, #research, #earth {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
/*main large column left */
#monument, #breakfast, #orca {
  display: block;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
#monument {
  margin-left: 30px;
}
#phish {
  display: flex;
  text-align: left;
  color: white;
  width: 630px;
  height: 300px;
  background-image: url("../images/img-story-main.png");
  margin-bottom: 25px;
  font-size: 40px;
  font-family: Georgia;
  font-weight: bold;
}
#earth {
  color: white;
  background-image: url("../images/img-story-2.png");
  background-repeat: no-repeat;
  margin-bottom: 25px;
}
#research {
  color: white;
  background-image: url("../images/img-story-3.png");
  background-repeat: no-repeat;
  margin-bottom: 25px;
}
#earth, #research,#orca, #breakfast {
  width: 300px;
  height: 300px;
}
.columnlarge {
  display: flex;
  width: 630px;
  height: 100%;
  flex-grow: 2;
  flex-shrink: 2;
  margin-right: 30px;
  justify-content: flex-end;
  flex-wrap: wrap;
}
/*main medium column middle*/
#cats {
  text-align: left;
  background-image: url("../images/img-story-1.png");
  background-repeat: no-repeat;
  margin-bottom: 25px;
  min-height: 300px;
  min-width: 300px;
  flex-wrap: wrap;
}
.columnmed {
  display: flex;
  width: 300px;
  height: 100%;
  flex-grow: 3;
  flex-shrink: 3;
  margin-right: 30px;
  justify-content: flex-start;
}
#brooklyn {
  font-family: Georgia;
  font-size: 17px;
}
/*main small column right*/
.columnsmall {
  display: flex;
  width: 240px;
  height: 100%;
  flex-grow: 3;
  flex-shrink: 3;
  flex-direction: column;
  margin-right: 30px;
  justify-content: flex-start;
}
#newsbites {
  display: flex;
  flex-flow: column nowrap;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: black;
  text-align: center;
}
.smallbites {
  text-align: left;
  font-size: 12px;
  color: DimGray;
  background-color: whitesmoke;
  font-family: Verdana;
  padding: 10px 20px;
  border-bottom: 2px solid black;
}
/*Footer*/
footer {
  display: flex;
  width: 100%;
  min-width: 200px;
  height: 200px;
  margin: auto;
  color: black;
  background-color: hsl(169,62%,51%);
  align-items:center;
  justify-content: center;
  flex-grow: 2;
  flex-shrink: 3;
  font-family: Verdana;
  font-size: 12px;
  font-weight: bold;
  font-family: Verdana;
  border-bottom-style: solid;
  border-bottom: 3;
  -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}
#logofooter {
  color: white;
  border-right: 2px solid white;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  padding: 0px 10px 10px 10px;
}
.footnav {
  padding: 0px 10px 10px 10px;
}
#copyright {
  justify-content: center;
  align-self: center;
}
