.header {
  display: flex;
  width: 100%
  min-width: 500px

}

#logo, #logoright {
  flex-direction: row;
}

#logoright {
  color: hsl(160, 51%, 60%);
  background-color: inherit;
}

.headnav {
  display: inline-block;
  align-content: flex-end;
}
