header, div {
  display: flex;
  width: 100%;
  min-width: 900px;
  height: 100px;
  align-items: center;
  flex-grow: 2;
  flex-shrink: 3;
}

header {
  border-bottom-style: solid;
  border-bottom: 3;
}

.logo{
  align-items: center;
  justify-content: flex-start;
  margin-left: 30px;
}

span {
  margin-left: 30px;
}

.headnav {
  align-items: center;
  justify-content: flex-end;
  flex-flow: nowrap;
  width: 350px;
  margin-right: 30px;
}
